<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="container">
        <h2>Search Here!!</h2>
        <form action="/search_event_admin" method="POST">
            <input type="text" name="event_id" placeholder="Enter ID" required>
            <button type="submit">Search</button>
        </form>
    </div>
</body>

</html>